{% extends 'base.html.twig' %}

{% block body %}
    <h2>About Us</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores culpa, cumque, distinctio dolore, ducimus in laudantium modi natus placeat provident quas recusandae reprehenderit repudiandae saepe sint sunt veniam veritatis!
{% endblock %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

