<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_aboutUs') }}">About us</a></li>
        <li><a href="{{ path('wish_list') }}">Liste d'idées</a></li>
    </ul>

</nav>